*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    height: 100vh;
}

.container{
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
}
h1{
    text-shadow: 0.3px 0.3px lightgray;
    font-weight:500;
}
span{
    text-align: center;
    text-shadow: 1px 1px black;
    color: white;
}

.left{
    top: 0;
    left: 0;
    height: 100%;
    width: 35%;
    position: absolute;
    transition: transform 0.5s ease-in-out 
}

.left > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:100%;
    width: 100%;
    color: black;
} 

.left h1{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
        
}

.right{
    position: absolute;
    top: 0;
    left: 35%;
    width: 65%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.right > div{
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}


button{
    cursor: pointer;
    padding: 10px;
    color: gray;
    outline: none;
}

button:hover{
color :black;
}

button:focus{
    outline: none;
}

.container .button button{
    position: absolute;
    left: 35%;
    top: 50%;
}

.container .down-btn{
    transform: translateX(-100%);
 
}

.container .up-btn{
    transform: translateY(-100%);
    
}


